@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Optional extra hard reset */
/* index.css */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* optional: prevent horizontal scroll */
}


.oi-font {
  font-family: 'Oi', cursive;
}

.outfit-font {
  font-family: 'Outfit', cursive;
}